@mixin commom-href($nor-color, $hover-color) {
    border-bottom: 2px solid transparent;
    color: $nor-color; 
    transition: 0.1s ease-in-out;
    text-decoration: none;
    background-color: transparent;
    &:hover, &:focus, &:active {
        border-bottom: 2px solid lighten($color: $hover-color, $amount: 20%);
        color: $hover-color;
        cursor: pointer;
        text-decoration: none;
    }
}